.logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
/* .ant-layout .ant-layout-header{
    background: #fff;
} */
header.shadow{
    box-shadow: rgba(0, 21, 41, 0.08) 0px 1px 4px;
    z-index: 10;
}
.site-layout-background{
    background: #fff;
}
.head-reset{
    float: right;
    margin-right: 50px;
}
.head-reset .ant-avatar-image{
    margin-right:10px;
    
}
#content{
    height: calc(100vh - 94px);  
}
main.ant-layout-content{
    margin: 0 !important;
}