.info_main{
    margin: 20px;
}
.ant-page-header-heading-sub-title{
    font-size: 16px;
    color: #000;
}
.infocon{
    height: 100px;
}
.info_des{
    border-top:1px solid #e7e7e7;
}
.info_img{
    width: 100px;
    height: 100px;
}
/* table_info .ant-descriptions-item-content{
    display: block;
    width: 100%;
} */