.brand{
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.brand_head{
    font-size: 20px;
    margin-top: 10px;
    color: #000;
}
.table_list{
    margin: 20px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.table_inp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.inp{
    width: 25%;
    display: flex;
    line-height: 32px;
}
.inp input{
   flex: 1;
    border: 1px solid #d9d9d9;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    border-radius: 4px;
}
.btn button{
    margin-right: 20px;
}
table{
    margin-top: 30px;
}
.left{
    margin-left: 10px;
}
.goodstatus{
    display: inline-block;
    width: 55px;
}