.ant-row>div{
    background: white;
}
.count_tit{
    width: 100%;
    height: 56px;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 56px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 16px;
}
.count_con{
    padding: 20px;
    box-sizing: border-box;
    font-size: 26px; 
    font-weight: bold;
}
.indexcount{
    margin-top: 50px;
}